.container {
    height: 100dvh;
    width: 100dvw;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

.formContainer {
    height: clamp(30%, 420px, 55%);
    width: clamp(10%, 350px, 75%);     
    background-color:white;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 80%;

    justify-content: center;
    align-content:center;
    
    border:1px solid #969891;
    border-radius: 10px;

    box-sizing: border-box;
    padding: 0.5%;

    /*box-shadow: 10px 10px 100px 8px lightgrey, -10px -10px 100px 8px lightgrey;*/
}

.resetPassHeader {
    font-size: clamp(1.5em, 2vw, 3em);
    color: var(--primary-color);
}

.formContainer .group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 0.5em;

}