.forgotPass {
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-rows: 60% 20%; /* lowered the 2nd value gap para di awkward tignan */
    grid-template-columns: 90%;
    gap: 1%;

    justify-content: center;
}

.inputs {
    position: relative;
    
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    gap: 5%;

    & > * {
        width: 100%;
    }
}

.error {
    position: absolute;
    color: #cc0000;
    font-size: 0.8em;

    bottom: 0;
    left: 0;
}

.buttons {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
    color: var(--primary-color); /* made this change to match the other buttons in the app, but it can be changed back if you want */
}

.buttons .signIn:hover {
    /* removed primary color and added hover effect to match other buttons */
    transform: scale(1.01);
    cursor: pointer;
}

.submitButton {
    width: 80%;
    height:2.5em;
}