*{
    margin: 0;
}

.forgotPass {
    /* background-color: grey; */

    width: 100%;
    height: 100%;
    padding-bottom: 5px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;

    align-items: center;
}

.forgotPass h1 {
    margin-top: 10px;
}

.inputContainer {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 90%;
    margin-top: 30px;

    gap:10px;

    /* background-color: aquamarine; */
}

.inputContainer input {
    width: 100%;
    height: 2.5rem;
    border-radius: 7px;
    border:none;
    font-size: 1rem;
    padding-left: 3%;
    box-sizing: border-box;
    background-color: #ededed;

    outline: 2px solid transparent;
    transition: outline 0.25s;
}

.inputContainer input:focus {
    outline: 2px solid #4D643A;
}

.inputContainer input.empty,
.newPassContainer.empty,
.confirmNewPassContainer.empty {
    outline: 2px solid red;
}

.newPass,
.confirmNewPass{
    outline: none !important;
    border: none !important;
}

.newPassContainer,
.confirmNewPassContainer{
    display: flex;
    align-items: center;

    width: 100%;
    height: 2.5rem;
    border-radius: 7px;
    border:none;
    
    box-sizing: border-box;
    background-color: #ededed;

    outline: 2px solid transparent;
    transition: outline 0.25s;

}

.newPassContainer:focus-within,
.confirmNewPassContainer:focus-within {
    outline: 2px solid #4D643A;
}

.passContainer input {
    outline:none;
    border:none;
    background: transparent;
    font-size: 1rem;
    height: 100%;
    width: 90%;
    padding-left: 3%;

}

.showPassIcon {
    width: 10%;
    height: 50%;
}

.invalidMessage {
    position: inherit;
    text-align: center;
    font-size: .9rem;
    font-style: italic;
    color: #740000;
    height: 0.9rem;
}

.hidden {
    color:transparent;
    user-select: none;
}

.buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:15px;

    margin-top: auto;
}

.buttons p {
    align-self: center;
}

.buttons button {
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: #4D643A;
    color: white;
}

.buttons button:hover,
.buttons p:hover {
    transform: scale(1.01);
    transition: transform 0.4s ease;
    cursor: pointer;
}

.buttons p:hover {
    color: #4D643A;
}

.toast {
    position: fixed;
    top: 20px;
    left:50%;
    transform: translateX(-50%);

    width: auto;
    height: auto;
    pointer-events: none;

    padding: 10px;
    box-sizing: border-box;
    color: white;

    z-index: 100;
    border: none;
    border-radius: 10px;
    background-color: #4D643A;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 4px;

    opacity: 0;
    transition: opacity 0.3s ease;
}

.toast.show {
    opacity: 1;
}