.forgotPass {
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-rows: 60% 40%;
    grid-template-columns: 90%;
    gap: 1%;

    justify-content: center;
}

.inputs {
    position: relative;
    
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    gap: 5%;
}

.error {
    position: absolute;
    color: #cc0000;

    bottom: 0;
    left: 0;
}

.buttons {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.buttons .signIn:hover {
    color: var(--primary-color);
    transform: scale(1.01);
    cursor: pointer;
}