.login {
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-rows: 30% 5% 30% auto auto;        
    grid-template-columns: 90%;
    gap: 1%;

    justify-content: center;
    align-items: center;
}

.inputs {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 1em;

    justify-content: center;
    align-items: center;

    & > * {
        width: 100%;
    }
}

.buttons {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    font-size: clamp(0.9em, 1vw, 1em);
}

.actionButtons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    flex-wrap: wrap;
}

.loginButton {
    height: 2.9em;
    width: 90%;
}

.actionButtons .forgotPass {
    white-space: nowrap;
    color: var(--primary-color);
    &:hover {
        transform: scale(1.01);
        cursor: pointer;
    }
}

.divider {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    opacity: 0.8;

    &::before,
    &::after {
        content:"";
        width: 100%;
        border: 1px solid var(--primary-color);
        opacity: 0.8;
        margin-right: 5px; 
    }

    &::after {
        margin-left: 5px; 
    }
}

.googleLoginContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    white-space: nowrap;
}

.googleLogin {
    width: 90%;
    height: clamp(2em, 2.5vw, 3.5em);
    color: #5D6D4F;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;

    border: 1px solid #969891;
    border-radius: 7px;

    cursor: pointer;
    user-select: none;

    &:hover {
        transform: scale(1.01);
    }

    & > img {
        width: 10%;
        aspect-ratio: 1;
    }
}