.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    height: 470px;
    width: 450px;
    border-radius: 10px;
    padding: 25px 35px 25px 35px;
    box-sizing: border-box;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.container p {
    margin: 0;
}

.message {
    text-align: center;
    font-size: .9rem;
    font-style: italic;
    color: #740000;
    margin-top: 20px;
}

.hidden {
    display: none;
}

.form {
    display: flex;
    flex-direction: column;
    height: 85%;
    width: 100%;
}

.form input:nth-child(2) {
    width: 100%;
    height: 2.5rem;
    border-radius: 7px;
    border:none;
    font-size: 1rem;
    padding-left: 3%;
    box-sizing: border-box;
    background-color: #ededed;

    outline: 2px solid transparent;
    transition: outline 0.25s;
}

.emailInput.empty,
.passContainer.empty {
    outline: 2px solid red !important;
}

.form label {
    margin-top: 3vh;
    margin-bottom: 1%;
}

.form .emailInput:focus,
.form .passContainer:focus-within {
    outline: 2px solid #4D643A;
}

.form .passContainer{
    display: flex;
    align-items: center;

    width: 100%;
    height: 2.5rem;
    border-radius: 7px;
    border:none;
    
    box-sizing: border-box;
    background-color: #ededed;

    outline: 2px solid transparent;
    transition: outline 0.25s;
}

.form .passContainer input {
    outline:none;
    border:none;
    background: transparent;
    font-size: 1rem;
    height: 100%;
    width: 90%;
    padding-left: 3%;

}

.form .showPassIcon {
    width: 10%;
    height: 50%;
}

.button {
    display: flex;
    height: 25%;
    gap: 20px;
    margin-top: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.forgotPass:hover {
    color: #4D643A;
    cursor: pointer;
}

.loginButton {
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: none;
    background-color: #4D643A;
    color: white;
}

.loginButton:hover {
    transform: scale(1.01);
    transition: transform 0.4s ease;
}

.toast {
    position: fixed;
    top: 20px;
    left:50%;
    transform: translateX(-50%);

    width: auto;
    height: auto;
    pointer-events: none;

    padding: 10px;
    box-sizing: border-box;
    color: white;

    z-index: 100;
    border: none;
    border-radius: 10px;
    background-color: #4D643A;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 4px;

    opacity: 0;
    transition: opacity 0.3s ease;
}

.toast.show {
    opacity: 1;
}