*{margin: 0;}

.adminDashboard {
    width: 100vw;
    height: 92vh;
    margin-left: 3.5vw;
    margin-top: 8vh;

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;

    /*background-color: bisque;*/
}

.header {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: grey; */
}

.searchContainer {
    background-color: #ededed;
    width: 50%;
    height: 30%;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
    gap:14px;

    border-radius: 40px;
    border: 2px solid transparent;
    transition: border-color 0.25s;
}

.searchContainer:focus-within {
    border-color: #4D643A;
}

.searchBar {
    width: 95%;
    height: 100%;
    font-size: 1.2rem;
    
    border: none;
    outline: none;
    background: transparent;
}

.searchIcon {
    height: 50%;
    width: 5%;
    user-select: none;
}

.mainContainer {
    margin-top: auto;
    width: 90%;
    height: 80%;
    display: flex;
    gap: 5%;
}

.innerContainer {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 10px;
}

.innerContainer p {
    margin-left: 10px;
    font-size: 1.2rem;
}

.pendingContainer {
    width: 100%;
    height: 100%;

    border: 2px solid #ededed;
    border-radius: 5px;
    padding: 30px 50px 20px;
    gap: 20px;
    box-sizing: border-box;

    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    align-content: flex-start;
    justify-content: center;
}

.currentContainer {
    width: 100%;
    height: 100%;

    border: 2px solid #ededed;
    border-radius: 5px;
    padding: 30px 50px 20px;
    gap: 20px;
    box-sizing: border-box;

    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    align-content: flex-start;
    justify-content: center;
}

.borrowerPanel {
    height: 150px;
    width: 500px;

    border: 2px solid #ededed;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    box-sizing: border-box;

    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.borrowerHeader {
    height: 45%;

    display: flex;
    border-bottom: 1px solid #4D643A;
}

.avatar {
    height: 35px;
    width: 35px;
    margin-left: 10px;
    border: none;
    border-radius: 50%;
    
    background-color: gray;
}

.borrowerHeader p {
    font-size: 1rem;
    color: rgba(0,0,0,0.5);
}

.borrowerHeader p:last-child {
    color: lightgray
}

.status {
    width: 80px;
    height: 25px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50px;

    margin-left: auto;
}

.Active {
    background-color: rgba(85, 101, 64, 0.6);
    border: 3px solid rgb(85, 101, 64);
    color: rgb(85, 101, 64);
}
.Due {
    background-color: rgba(255, 192, 0, 0.8);
    border: 3px solid rgb(255, 192, 0);
    color: rgb(255, 192, 0);
}
.Pending {
    background-color: rgba(88, 114, 242, 0.6);
    border: 3px solid rgb(88, 114, 242);
    color: rgb(88, 114, 242);
}
.Overdue {
    background-color: rgba(242, 91, 88, 0.8);
    border: 3px solid rgb(242, 91, 88);
    color: rgb(242, 91, 88);
}

.borrowerBody {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info {
    min-width: 65%;

    display: flex;
    flex-direction: column;
    gap: 5px;
    
    /* background-color: #4D643A; */
}

.info p {
    display: flex;
    align-items: baseline;
    font-size: 1rem;
}

.info span:first-child {
    min-width: 100px;
    text-align: right;
    padding-right: 10px;
    font-weight: bold;
}

.info span:nth-child(2) {
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    min-width: 0;
}

.borrowerBody button {
    min-width: 165px;
    min-height: 35px;

    border: none;
    border-radius: 10px;

    color: white;
    background-color: #4D643A;
}

.borrowerBody button:hover {
    cursor: pointer;
    transform: scale(1.01);
}

.toast {
    position: fixed;
    top: 20px;
    left:50%;
    transform: translateX(-50%);

    width: auto;
    height: auto;
    pointer-events: none;

    padding: 10px;
    box-sizing: border-box;
    color: white;

    z-index: 100;
    border: none;
    border-radius: 10px;
    background-color: #4D643A;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 4px;

    opacity: 0;
    transition: opacity 0.3s ease;
}

.toast.show {
    opacity: 1;
}