.borrowerLogs {
    margin: 0;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 50px;

    align-items: center;
    padding: 50px;
    box-sizing: border-box;

    margin-left: 3.5vw;
    margin-top: 7vh;
    width: 100vw;
    height: 93vh;
}

.searchContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 10%;
    margin-left: auto;
}

.searchBarContainer {
    background-color: #ededed;
    width: 60%;
    height: 60%;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
    gap:5px;

    border-radius: 40px;
    border: 2px solid transparent;
    transition: border-color 0.25s;
}

.searchBarContainer:focus-within {
    border-color: #4D643A;
}

.searchBar {
    width: 95%;
    height: 100%;
    font-size: 0.9rem;
    
    border: none;
    outline: none;
    background: transparent;
}

.searchIcon {
    height: 70%;
}

.table {
    height: auto;
    width: 80%;
    font-size: medium;

    border: 1px solid #ededed;
    text-align: left;
}

.table table {
    width: 100%;
    height: 100%;

    border-collapse: collapse;
    table-layout: fixed;
}

.table thead th {
    box-sizing: border-box;
}

.table th:nth-child(1) { width: 30px; }
.table th:nth-child(2) { width: 200px; padding-left: 10px;}
.table th:nth-child(3) { width: 150px; }
.table th:nth-child(4) { width: 250px; }
.table th:nth-child(5) { width: 100px; text-align: center;}
.table th:nth-child(6) { width: 100px; text-align: center;}
.table th:nth-child(7) { width: 120px; text-align: center;}

.table td:nth-child(1) {
    width: 30px;
    width: 40px;
    text-align: center;
    border-right: 1px solid #ededed;
}
.table td:nth-child(2) { padding-left: 10px;}

.table td:nth-child(5),
.table td:nth-child(6),
.table td:nth-child(7) { text-align: center;}

.table td {
    height: 50px;
}

.table td {
    box-sizing: border-box;
    vertical-align: center;
    justify-items: center;
    /* padding: 5px; */
}

.table thead tr:first-child{
    height: 50px;
    border-bottom: 1px solid #ededed;
}

.table span {
    display: inline-block;
    text-align: center;
    align-content: center;
    width: 5.5rem;
    height: 1.5rem;

    border-radius: 50px;
}

.Active {
    background-color: white;
    border: 2px solid rgb(85, 101, 64);
    color: rgb(85, 101, 64);
}
.Due {
    background-color: white;
    border: 2px solid rgb(255, 192, 0);
    color: rgb(255, 192, 0);
}
.Pending {
    background-color: white;
    border: 2px solid rgb(88, 114, 242);
    color: rgb(88, 114, 242);
}
.Overdue {
    background-color: white;
    border: 2px solid rgb(242, 91, 88);
    color: rgb(242, 91, 88);
}