.container {
    position: fixed;
    top: 0;
    margin-left: 4.5vw;
    z-index: 9;

    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 50px 0 50px;
    width: 95.5vw;
    height: 8vh;
    background-color: white;
    -webkit-box-shadow: 1px 23px 0px -21px #4D643A;
    box-shadow: 1px 22px 0px -21px #4D643A;
}

.container p {
    margin: 0;
}

.id {
    opacity:0.3;
}

.userContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 60%;

    border-radius: 10px;
}

.userContainer:hover {
    background-color: rgba(0,0,0,0.25);
    cursor: pointer;
}

.icon {
    width: 20%;
    height: 95%;
    margin-right: 5%;
    border-radius: 50%;
}