.library {
    display:flex;
    flex-direction: column;
    margin-left: 3.3vw;
    margin-top: 8vh;
    width: 100vw;
    height: 92vh;
    overflow: hidden;
    gap: 1rem;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    position: fixed;
    background-color: white;
    z-index: 8;
    top: 10vh;
    font-weight: 500;
}

.searchBarContainer {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    height: 45%;
    width: 50%;
    border-radius: 40px;
    border: 2px solid transparent;
    background-color: #ededed;
    transition: border-color 0.25s;
}

.searchBarContainer:focus-within {
    border-color: #4D643A;
}

.searchBar{
    height: 95%;
    width: 95%;
    border: none;
    padding-left: 10px;
    font-size: 1rem;
    background: transparent;
    outline: none;
}

.searchIcon {
    height: 50%;
    margin-left: 15px;
    /* width: 5%; */

    /* background-color: #4D643A; */
}

.searchScroll {
    display: none;
    margin-top: 15vh;
    height: 100vh;
    justify-content: center;
    overflow-y: scroll;
    flex-wrap: wrap;
    gap: 5rem;
}

.show {
    display: flex;
}

.scroll {
    display: flex;
    flex-direction: column;
    margin-top: 15vh;
    height: 100vh;
    align-items: center;
    overflow-x: scroll;
    scroll-behavior: smooth;
    gap: 5rem;
    box-shadow: 0px 189px 25px -200px rgba(186,186,186,1) inset;
    -webkit-box-shadow: 0px 189px 25px -200px rgba(186,186,186,1) inset;
    -moz-box-shadow: 0px 189px 25px -200px rgba(186,186,186,1) inset;
    overflow-x: hidden;
}

.hide {
    display: none;
}

.categoryHeader {
    display: flex;
    height: 5vh;
    width: 100%;
    justify-content: left;
    align-items: center;
    font-size: 1.3rem;
    background-color: var(--color);
    color: white;
    border-radius: 5px 5px 0px 0px;
    user-select: none;
}

.categoryHeader p {
    padding-left: 3rem;
}

.noBooks{
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    color: #ededed;
    font-weight: lighter;
    user-select: none;
}


.category {
    margin-top: 6vh;
    flex: 0 0 auto;
    margin-bottom: 30px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 0px 0px 5px 5px;
    border:none;
    width: 80%;
    height: 40vh;
    
}
    ::-webkit-scrollbar
    {
        height: 10px;
        width: 10px;
        
    }::-webkit-scrollbar-track
    {
        background-color: #ededed;
    }::-webkit-scrollbar-thumb
    {
        background-color: var(--color);
        border-radius: 15px;
    }


.books {
    display: flex;
    height: 35vh;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-x: auto;
    overflow-y: hidden;
    box-sizing: border-box;
    padding: 20px;
    gap: 2rem;
}

.bookPanels {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
    height: 290px;
    width: 200px;
    font-size: 0.8rem;
    border-radius: 4px;

    user-select: none;
    
}

.bookPanels:hover {
    background-color: #ededed;
    font-weight: bold;
}

.bookPanels img {
    width: 120px;
    height: 190px;
    object-fit: cover;
    border-radius: 1px;

    user-select: none;
    pointer-events: none;
}


.bookPanels p {
    width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}