.sidebar {
    position: fixed;
    z-index: 10;

    display:flex;
    flex-direction: column;
    height: 100vh;
    width: 3.5vw;
    border-right: 1.5px solid #ffffff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    container-type: inline-size;
    transition: width 0.2s ease;
    background-color: white;
}

.sidebar:hover {
    width: 16vw;
}

.divider {
    border: none;
    border-top: 1.5px solid;
    border-color: #4D643A;
    outline: #4D643A;
    margin: 0;
}

.header {
    display:flex;
    justify-content: left;
    align-items: center;
    padding-left: 5%;
    color: #4D643A;
    user-select: none;
    height: 8vh
}

.logo {
    /* width: 75%; */
    width: clamp(1%, 75%, 40px);
    height: auto;
    margin-right: 5%;
    user-select: none;
}

.buttons {
    display: flex;
    flex-direction: column;
    padding: 10px;
    flex-grow: 1;
}

.buttons div {
    display: flex;
    justify-content: left;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 27px;
    gap: 10px;
    height: 5%;
    font-size: 19.06px;
    user-select: none;
}

.buttons div.hidden {
    display: none;
}

.settingsButton {
    position: absolute;
    width: 80%;
    bottom: 0;
}

.buttons div:not(.focused):hover {
    background-color: #ededed;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
                rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.focused {
    background-color: #4D643A;
    color: white;
}

.focused .icons {
    filter: invert(1); /*make icon white*/
}

.icons {
    width: 20%;
    height: 50%;
}

.footer {
    font-size: 8px;
    opacity: 0.8;
    color: grey;
    text-align: center;
}

@container (max-width: 14vw) {
    .sidebar p,
    .sidebar h1 {
        display: none;
    }

    .buttons div {
        justify-content: center;
        padding: 0;
    }
    
    .icons {
        width: 50%;
        height: 50%;
    }

    .header {
        justify-content: center;
        padding-left: 0;
    }
}
