.infos {
    height: 95%;
    width: 100%;

    display: grid;
    grid-template-rows: 12% 50% 38%;
}

.infos .header {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    border-bottom: 1px solid var(--primary-color);
}

.infos .header:hover {
    white-space: wrap;
    cursor: default;
}

.infos h2 {
    color: lightgray;
}

.infos .details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    gap: 0.5em;

    font-size: 1.2em;
}

.infos .details p {
    display:flex;
    width: 100%;
}

.infos .details p span {
    width: 25%;
    text-align: right;
    font-weight: 650;
}

.infos textarea {
    background-color: white;
    border-radius: 0;
    padding: 0.5em;
    margin-top: 0.5em;
    height: 95%;
    overflow-x: auto;
    font-size: 1.2em;
}

.infos p .edit,
.infos p .noEdit {
    height: 1.5em;
    width: 40%;
    margin-left:0.5em;
    border-radius: 0;
    background-color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: light;
}

.edit {
    border-bottom: 1px solid var(--primary-color);
}

.noEdit {
    cursor: default;
}


.infos input,
.infos textarea {
    outline: 2px solid transparent;
    transition: all 0.3s ease;
}

.infos input:focus:not(.noEdit),
.infos textarea:focus:not(.noEdit) {
    border:none;
    border-radius: 7px;
    outline-color: var(--primary-color);
}