.addbook {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 0.5em;
}

.cover {
    width: 25%;
    border: 3px dashed var(--primary-color);
    border-radius: 10px;

    aspect-ratio: 2/3;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-size: 3.5em;
    color: var(--primary-color);
}

.cover img {
    width: 100%;
    aspect-ratio: 2/3;
    border:none;
    border-radius: 10px;
}

.infos {
    width: 55%;
    height: 80%;
    background-color: white;

    border: none;
    border-radius: 10px;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.5);

    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.formContainer {
    height: 85%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fill, min-content);
    row-gap: 0.5em;
    justify-items: center;
    padding: 5%;
}

.descriptionWrapper {
    grid-column: 1;
    grid-row: span 3;
    width: 80%;
}

.buttons {
    height: 15%;
    width: 100%;
    margin-top: auto;

    display: flex;
    justify-content: end;
    align-items: center;
    gap: 0.5em;
    padding-right: 2em; 
}