.borrowers {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
/*     background-color: aquamarine; */
    width: 100%;    
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.noRecord {
    position:relative;
    margin: auto;

    font-size: 3em;
    color: #ededed;
}

.tableContainer {
    height: 80%;
    width: 80%;

    border: 2px solid #ededed;
    overflow-x: auto;

    border-radius: 10px;

    background-color: white;

    box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.5);
}

.tableContainer table {
    position: relative;
    table-layout: fixed;
    height: auto;
    width: 100%;
    border-collapse: collapse;
}

table thead {
    position: sticky;
    top: 0;
    z-index: 2;
    text-align: left;
    height: 2.5em;
    background-color: white;
}

table thead::before{
    content: "";
    position: absolute;
    bottom: 0;
    width: 98%;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 2px solid #ededed;   
}

table tbody td{
    text-align: left;
    height: 2em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

table tbody td:first-child{
    position: relative;
}

table tbody td:first-child::after {
    content: "";
    position: absolute;
    right: 0;
    height: 100%;
    border-right: 2px solid #ededed;
}

table tbody tr:hover {
    background-color: #ededed;
}

colgroup col:nth-child(1) { width: 35px; }
colgroup col:nth-child(2) { width: 15%; }
colgroup col:nth-child(3) { width: 10%; }
colgroup col:nth-child(4) { width: 30%; }
colgroup col:nth-child(5) { width: 20%; }
colgroup col:nth-child(6) { width: 10%; }
colgroup col:nth-child(7) { width: 15%; }

table tbody td:nth-child(1),
table tbody td:nth-child(7),
table thead th:nth-child(7) { text-align: center; }

table tbody td:nth-child(2),
table thead th:nth-child(2) {padding-left: 0.5em}

table tbody td:last-child {
    display: flex;
    justify-content:center;
    align-items: center;
}

.status {
    width: 60%;
    height: 90%;

    border-radius: 100px;
    background-color: white;
}

.Active {
    border: 2px solid var(--active-color);
    color: var(--active-color);    
}
.Due {
    border: 2px solid var(--due-color);
    color: var(--due-color);    
}
.Pending {
    border: 2px solid var(--pending-color);
    color: var(--pending-color);    
}
.Overdue {
    border: 2px solid var(--overdue-color);
    color: var(--overdue-color);    
}
.Returned {
    border: 2px solid var(--returned-color);
    color: var(--returned-color);
}
.Cancelled {
    border: 2px solid var(--cancelled-color);
    color: var(--cancelled-color);    
}