.borrowers {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
/*     background-color: aquamarine; */
    width: 100%;    
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tableContainer {
    height: 80%;
    width: 70%;

    border: 2px solid #ededed;
    overflow-x: auto;

    border-radius: 10px;

    background-color: white;

    box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.5);
}

.tableContainer table {
    position: relative;
    table-layout: fixed;
    height: auto;
    width: 100%;
    border-collapse: collapse;
}

table thead {
    position: sticky;
    top: 0;
    z-index: 2;
    text-align: left;
    height: 2.5em;
    background-color: white;
}

table thead::before{
    content: "";
    position: absolute;
    bottom: 0;
    width: 98%;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 2px solid #ededed;   
}

table tbody td{
    text-align: left;
    height: 2em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

table tbody td:first-child{
    position: relative;
}

table tbody td:first-child::after {
    content: "";
    position: absolute;
    right: 0;
    height: 100%;
    border-right: 2px solid #ededed;
}

table tbody tr:hover {
    background-color: #ededed;
}

colgroup col:nth-child(1) { width: 35px; }
colgroup col:nth-child(2) { width: 20%; }
colgroup col:nth-child(3) { width: 15%; }
colgroup col:nth-child(4) { width: 30%; }
colgroup col:nth-child(5) { width: 10%; }
colgroup col:nth-child(6) { width: 10%; }
colgroup col:nth-child(7) { width: 15%; }

table tbody td:nth-child(1),
table tbody td:nth-child(7),
table thead th:nth-child(7) { text-align: center; }

table tbody td:nth-child(2),
table thead th:nth-child(2) {padding-left: 0.5em}

table tbody td:last-child {
    display: flex;
    justify-content:center;
    align-items: center;
}

.status {
    width: 60%;
    height: 90%;

    border-radius: 100px
}

.Active {
    background-color: white;
    border: 2px solid rgb(85, 101, 64);
    color: rgb(85, 101, 64);
}
.Due {
    background-color: white;
    border: 2px solid rgb(255, 192, 0);
    color: rgb(255, 192, 0);
}
.Pending {
    background-color: white;
    border: 2px solid rgb(88, 114, 242);
    color: rgb(88, 114, 242);
}
.Overdue {
    background-color: white;
    border: 2px solid rgb(242, 91, 88);
    color: rgb(242, 91, 88);
}