.bookPanel {
    flex: 0 0 10em;
    width: 10em;
    aspect-ratio: 2/3;
    border:none;
    border-radius: 10px;

    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-items: center;

    padding: 1em;
    scroll-snap-align: start;

    cursor: pointer;
}

.bookPanel:hover {
    background-color: #ededed;
    outline: 2px solid rgba(0,0,0,0.1);
}

.bookPanel .cover {
    width: 70%;
    aspect-ratio: 2/3;
    margin-bottom: 0.5em;

    border-radius: 10px;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);
}

.bookPanel .title,
.bookPanel .author {
/*     background-color: aqua; */
    width: 90%;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}