.backdrop {
    position: fixed;
    inset: 0;
    height: 100vh;
    width: 100vw;

    background-color: rgba(0,0,0,0.5);

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 2000;
}

.hidden {
    display: none;
}

.panel {
    height: 70%;
    width: 25%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 2em 1em;

    border-radius: 10px;

    background-color: white;
}

.cover {
    width: 50%;
    aspect-ratio: 2/3;

    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.5);
}

.details {
    width: 100%;
    font-size: 1.2em;
}

.details p {
    display: flex;
    justify-content: start;
    gap: 0.5em;
}

.details p span:nth-child(1) {
    width: calc(50% - 0.5em);
    text-align: right;
    font-weight: 600;
}

.details p span:nth-child(2) {
    width: 40%;
    text-align: left;

    overflow: hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}

.details p span:nth-child(2):hover {
    overflow: visible;
    white-space: wrap;
}

.buttons {
    width: 100%;
    height: 2.5em;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}
