.backdrop {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* lower than toast */
}

.hidden {
    display: none;
}

.expandedCategory {
    margin: auto;
    height: 90%;
    width: 80%;

    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: white;
    
    transform: scale(0.8);
    animation: zoom 0.5s forwards;
}

@keyframes zoom {
    to {
        transform: scale(1);
    }
}

.header {
    width: 100%;
    height: 10%;

    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    border-radius: 10px 10px 0 0; 

    padding-left: 5em;
    padding-right: 2em;
    color: white;
}

.header .close {
    height: 2em;
    width: 2em;
    margin-left: auto;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;

    cursor: pointer;
}

.header .close:hover {
    background-color: rgba(0,0,0,0.2);
}

.header .close img {
    height: 50%;
    filter: invert(1);
    user-select: none;
}

.books {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    overflow-y: auto;

    gap: 1.5em;

    padding: 1.5em 2.5em;
}

.noBooks {
    width: 100%;
    height: 100%;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 3em;
    color: #ededed;
}