.library {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    overflow-y: auto;
    gap: 2em;
}

.header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 15%;

    flex-shrink: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0px 10px 5px -5px rgba(0,0,0,0.08);

    background-color:white;

    z-index: 5;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
    padding-bottom: 2em;

}

.searching {
    background-color: white;
    justify-content: start;
    align-items: flex-start;
    align-content: flex-start;
    padding: 0 2em;
}

.noBooks {
    color: #ededed;
}