.backdrop {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* lower than toast */
}

.hidden {
    display: none;
}

.showBook {
    margin-left: auto;
    
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
    width: 65%;
    height: 100%;
    background-color: white;
    
    transform: translateX(70%);
    animation: slideIn 0.5s forwards;
}

@keyframes slideIn {
    to {
        transform: translateX(0);
    }
}

.cover {
    position: absolute;
    border-radius: 20px;
    width: 45%;
    aspect-ratio: 2/3;

    background-color: white;
    right: 50%;
    transform: translateX(-65%);

    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.5);
}

.close {
    position: absolute;
    top: 2em;
    right: 4em;
    height: 2.5em;
    width: 2.5em;

    border-radius: 50%;
    display: flex;

    cursor: pointer;
}

.close img {
    margin: auto;
}

.close:hover {
    background-color: #ededed;
}

.infos {
    margin-left: 10%;
    height: 90%;
    width: 60%;

    display: grid;
    grid-template-rows: 6em 30em 15em;

/*     background-color: antiquewhite; */
}

.infos .header {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    border-bottom: 1px solid var(--primary-color);
}

.infos .header:hover {
    white-space: wrap;
    cursor: default;
}

.infos h2 {
    color: lightgray;
}

.infos .details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    gap: 0.5em;

    font-size: 1.2em;
    
}

.infos .details p {
    display:flex;
    width: 100%;
}

.infos .details p span {
    width: 25%;
    text-align: right;
    font-weight: 650;
}

.infos textarea {
    background-color: white;
    border-radius: 0;
    padding: 0.5em;
    margin-top: 0.5em;
    height: 95%;
    overflow-x: auto;
    font-size: 1.2em;
}

.infos p .edit,
.infos p .noEdit {
    height: 1.5em;
    width: 40%;
    margin-left:0.5em;
    border-radius: 0;
    background-color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: light;
}

.edit {
    border-bottom: 1px solid var(--primary-color);
}

.noEdit {
    cursor: default;
}


.infos input,
.infos textarea {
    outline: 2px solid transparent;
    transition: all 0.3s ease;
}

.infos input:focus:not(.noEdit),
.infos textarea:focus:not(.noEdit) {
    border:none;
    border-radius: 7px;
    outline-color: var(--primary-color);
}

.button {
    display: flex;
    justify-content: end;
    margin-top: auto;
    gap: 0.5em;
}

