input.empty {
    outline: 2px solid red;
}

.newPass,
.confirmNewPass {
    outline:none !important;
}

.newPassContainer,
.confirmNewPassContainer{
    display: flex;
    align-items: center;

    width: 100%;
    height: 2.5rem;
    border-radius: 7px;
    border:none;
    
    box-sizing: border-box;
    background-color: #ededed;

    outline: 2px solid transparent;
    transition: outline 0.25s;

}

.newPassContainer:focus-within,
.confirmNewPassContainer:focus-within {
    outline: 2px solid #4D643A;
}

.passContainer input {
    outline:none;
    border:none;
    background: transparent;
    font-size: 1rem;
    height: 100%;
    width: 90%;
    padding-left: 3%;

}

.showPassIcon {
    width: 10%;
    height: 50%;
}