/*.carousel {
    width: 100%;
    height: 100%;
    border: 2px solid #ededed;
    border-radius: 10px;
    background-color: white;
    display: flex;
    padding: 1em;
    gap: 1em;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scroll-padding: 1em;;
}

.noBorrowers {
    position: relative;
    margin: auto;
    color: #ededed;
}

.card {
    scroll-snap-align: start;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    height: 100%;
    flex: 0 0 30em;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 1em;
}

.header::after {
    content: '';
    position: absolute;
    width: 95%;
    bottom: 0;
    border: 1px solid rgba(0,0,0,0.2);
    left: 50%;
    transform: translateX(-50%);
}

.header .profile {
    display: flex;
    gap: 0.5em;
}

.avatar {
    height: 2.5em;
    width: 2.5em;
}

.header .status {
    width: 20%;
    height: 80%;
}

.body {
    display: flex;
    align-items: center;
    
    gap: 1em;
    padding: 0.5em 1em;
}

.body .bookCover {
    border: 1px solid black;
    width: 20%;

    aspect-ratio: 2/3;
}

.body .bookInfo {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.buttonsContainer {
    height: 3em;
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 1% 2%;
    gap: 0.5em;

    &::after {
        content: '';
        position: absolute;
        width: 95%;
        top: 0;
        border: 1px solid rgba(0,0,0,0.2);
        left: 50%;
        transform: translateX(-50%);
    }

    & p {
        position: absolute;
        left: 50%;
        transform: translateX(-80%);
        top: 30%;
        color: lightgrey;
        
    }

    & > .buttons {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: right;
        gap: 1em;

        & > * {
            width: 30%;
        }
    }
}*/

/*.carousel {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 0.5em;
    padding: 1.5em;
    flex-wrap: wrap;
    overflow-y: auto;  
    
    border-radius: 10px;
    background-color: #E8E9E2;
}*/

.carousel {
    position: relative;
    height: 100%;
    width: 100%;
    
    display: grid;
    grid-template-columns: repeat(auto-fill, 12em);
    justify-content: center;
    align-content: start;
    gap: 0.5em;
    
    padding: 2em 0;
    overflow-y: auto;  
    
    border-radius: 10px;
    background-color: #E8E9E2;

    & > .noBorrowers {
        position: absolute;
        left: 50%;
        top: 40%;
        transform: translateX(-50%) translateY(50%);

        font-size: 3em;
        font-weight: 600;
        color: lightgrey;
    }
}


.panel {
    width: 12em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 0.5em;
    
    border-radius: 10px;
    border: 1px solid black;

    & > .bookContainer {
        display: flex;
        justify-content: center;

        border-bottom: 2px solid var(--primary-color);
    }

    & > .borrowerInfo p {
        font-size: 0.9em;
        
        overflow: hidden;
        white-space:nowrap;
        text-overflow: ellipsis;
    }

    & > .buttons {
        height: 2em;
        display: flex;
        justify-content: space-between;
        gap: 0.5em;

        & > .cancel {
            width: 2em;
            aspect-ratio: 1;
        }

        & > .accept {
            flex: 1;
        }
    }
}

.panel {
    width: 12em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 0.5em;
    
    border-radius: 10px;
    border: 1px solid black;

    & > .bookContainer {
        display: flex;
        justify-content: center;

        border-bottom: 2px solid var(--primary-color);
    }

    & > .borrowerInfo p {
        font-size: 0.9em;
        
        overflow: hidden;
        white-space:nowrap;
        text-overflow: ellipsis;
    }

    & > .buttons {
        height: 2em;
        display: flex;
        justify-content: space-between;
        gap: 0.5em;

        & > .cancel {
            width: 2em;
            aspect-ratio: 1;
        }

        & > .accept {
            flex: 1;
        }
    }
}