    .borrowedBooks {
    width: 100%;
    height: 100%;
    display: grid;

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 1fr;
    column-gap: 2em;
    row-gap: 1em;


    grid-template-areas:
    "total overdue due fine"
    "books books books books";

    padding: 2% 4% 1% 4%;
}

.panel {
    border: 2px solid #ededed;
    border-radius: 10px;
    background-color: white;
    box-shadow:
        rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
        rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 1.5em;

}

.panel .info{
    display: flex;
    gap: 0.5em;
}

.panel .info img {
    height: 1.5em;
    width: 1.5em;
    object-fit: contain;
}

.panel:nth-child(1) { grid-area: total; }
.panel:nth-child(2) { grid-area: overdue; }
.panel:nth-child(3) { grid-area: due; }
.panel:nth-child(4) { grid-area: fine; }
.panel:nth-child(5) { grid-area: books; }

.panel:last-child {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;

    padding: 2em;

    justify-content: start;
    align-items: start;

    overflow: hidden;
    overflow-y: auto;
}

.bookPanel {
    width: 10%;
    aspect-ratio: 2/3;
                    
    display: flex;
    flex-direction: column;

    justify-content: start;
    align-items: center;
    gap: 0.5em;

}

.cover {
    width: 100%;
    aspect-ratio: 2/3;
    
    border-radius: 10px;
    
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);
}

.status {
    display: flex;
    border-radius: 50px;
    height: 12%;
    width: 50%;
    
    justify-content: center;
    align-items: center;
    font-size: 1em;

    padding-bottom: 0.2em;
}

.panel .noBooks {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #ededed;

    user-select: none;
}

.Active {
    border: 2px solid rgb(85, 101, 64);
    color: rgb(85, 101, 64);
}
.Due {
    border: 2px solid rgb(255, 192, 0);
    color: rgb(255, 192, 0);
}
.Pending {
    border: 2px solid rgb(88, 114, 242);
    color: rgb(88, 114, 242);
}
.Overdue {
    border: 2px solid rgb(242, 91, 88);
    color: rgb(242, 91, 88);
}