@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    font-family: "Manrope", sans-serif;
    background-image: url("./assets/background.webp");
    background-repeat: no-repeat;
    background-size: cover;

    --primary-color: #4D643A;
    --sidebar-width: clamp(5rem, 3vw, 16rem);
    --sidebar-expanded-width: clamp(16rem, 1vw, 20rem);
    --header-height: clamp(4rem, 1.5vh, 5em);

    --active-color: #10b981;
    --pending-color: #f59e0b;
    --due-color: #f97316;
    --overdue-color: #ef4444;
    --returned-color: #3b82f6;
    --cancelled-color: #6b7280;

}

::-webkit-scrollbar {
        width: clamp(5px, 1vw, 10px);
}

::-webkit-scrollbar-track {
    background-color: #ededed;
    width: 5px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-color); 
    border-radius: 15px;
}

*{
    margin: 0;
    box-sizing: border-box;
}