.button {
    border: none;
    border-radius: 10px;
    background-color: var(--primary-color);

    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.button:hover {
    cursor: pointer;
    transform: scale(1.01);
}

.button[disabled] {
    user-select: none;
    pointer-events: none;
}