input, textarea, select {
    width: 100%;
    height: 2.5em;
    border-radius: 7px;
    border: none;
    font-size: 1em;
    padding-left: 0.5em;
    box-sizing: border-box;
    background-color: #ededed;

    outline: none;
    transition: outline 0.25s;
}

textarea {
    width:100%;
    height: auto;
    padding: 0.5em;
    font-size: 1em;
    box-sizing: border-box;
    resize: none;
}

select {
    border: none;    
}

.searchContainer input {
    padding-left: 1em;
    border-radius: 50px;
}

.formInput input, 
.descriptionInput textarea,
.selector select {
    outline: 2px solid #AAAAAA;
}

label {
    display: block;
    margin-left: 0.5em;
    margin-bottom: 0.25em;
    font-weight: 600; 
}

.searchBar label {
    margin-left: 0;
    font-weight: normal;
    text-align: center;
}

.formInput,
.formInputPass,
.selector,
.searchBar {
    width: 80%;
}

.formInput input:focus,
.descriptionInput textarea:focus,
.passContainer:focus-within,
.selector select:focus,
.searchContainer:focus-within {
    outline: 2px solid var(--primary-color);
}

.passContainer,
.searchContainer {
    display:flex;
    align-items: center;

    background-color: #ededed;
    border: none;
    border-radius:7px;

    outline: 2px solid #AAAAAA;
    transition: outline 0.25s
}

.searchContainer {
    border-radius: 50px;
    outline-color: transparent; 
}

.passContainer img,
.searchContainer img {
    width: 1.2em;
    height: 1.2em;
    margin-right: 0.5em;
    cursor: pointer;
}

.searchContainer img {
    margin: 0;
    margin-left: 1.2em;
}

.passContainer input {
    width: calc(100% - 1.5em);
    background-color: transparent;
}

.empty {
    outline: 2px solid red !important;
}
