.container {
    display: flex;
    align-items: center;
    height: 100%;
    width: 75%;

    gap: 1%;
}

.first,
.second,
.third{
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(2.5em, 2.7vw, 5em);
    aspect-ratio: 1;
    border: 1.5px solid #969891;
    border-radius: 10px;
    background-color: #E8E9E2;

    user-select: none;
    pointer-events: none;
}

.line{
    flex-grow: 1;
    height: 4px;
    border-radius: 3px;
    border: 1px solid #969891;
    background-color: #E8E9E2;
}

.filled {
    background-color: var(--primary-color);
}

.current {
    background-color: var(--primary-color);
}

.icon {
    width: 60%;
    height: 60%;
}

.inverted {
    filter: invert(1);
}