.toast {
    position: fixed;
    top: 20px;
    left:50%;
    transform: translateX(-50%);

    width: auto;
    height: auto;
    pointer-events: none;

    padding: 10px;
    box-sizing: border-box;
    color: white;

    z-index: 2147483647;
    border: none;
    border-radius: 10px;
    background-color: #4D643A;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 4px;

    opacity: 0;
    transition: opacity 0.3s ease;
}

.toast.show {
    opacity: 1;
}