.header {
    position: fixed;
    width: calc(100vw - var(--sidebar-width));
    height: var(--header-height);

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 3% 0 3%;
    box-sizing: border-box;

    right: 0;
}

.header::after {
    content:"";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    border-bottom: 2px solid var(--primary-color);
}

.title {
    font-size: 1.5em;
}

.profile {
    width: 12%;
    height: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;

    padding: 0.5em;
    box-sizing: border-box;
}

.id {
    color: lightgrey;
}

.avatar {
    height: 100%;
}