.header {
    position: fixed;
    width: calc(100vw - var(--sidebar-width));
    height: var(--header-height);

    display: flex;
    justify-content: center;
    align-items: center;
        
    box-sizing: border-box;

    right: 0;

    z-index: 11;
}

.infoContainer {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: right;
    align-items: center;
    
    padding: 0 1em;
        
    & > .title {
        position: absolute;
        left: 50%;
        transform: translateX(calc(-50% - 1em));
        font-size: clamp(1em, 1.3vw, 3em);
    }

    & > .profile {
        /*width: clamp(9rem, 12vw, 13rem);*/
        position: relative;
        width: fit-content;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        margin-left: auto;
        gap: 5%;
        padding: 0.25em 1em;

        text-wrap: nowrap;
        user-select: none;

        border-radius: 10px;
        
        & > .avatar {
            height: 100%;
            aspect-ratio: 1;
            border-radius: 100%;
        }
        
        & > .profileInfo {
            font-size: clamp(0.7em, 0.9vw, 1.5rem);
            
            & > .id {
                color: lightgrey;
            }
        }
    }
}

@media (max-width: 768px) {
   .header {
       width: 100%;
   }

   .infoContainer {
       justify-content: space-between;

       & > .title {
           position: static;
           transform: translateX(0);
       }

       & .userName {
           display: none;
       }
   }
}

@media (hover: hover) {
    .infoContainer > .profile:hover {
        cursor: pointer;
        background-color: #ededed;
    }
}