.sidebar {
    position: fixed;
    width: var(--sidebar-width);
    height: 100vh;

    background-color: white;

    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    container-type: inline-size;

    z-index: 11;

    transition: 
        width 0.2s ease,
        transform 0.2s ease-in-out; 
}

.header {
    min-width: 0;
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 2%;
    padding: 1em;

    color: var(--primary-color);
}

.logo {
    height: clamp(2rem, 3vw, 2.5em);
    width: clamp(2rem, 3vw, 2.5em);
    user-select:none;
}

.logoTitle {
    font-size: clamp(1rem, 1.5vw, 3rem);
}

.buttons {
    min-width: 0;
    display: flex;
    flex-direction: column;

    padding: clamp(5px, 0.9vw, 2em);
    gap: 2%;

    & > .navButton {
        position: relative;
        width: 100%;
        aspect-ratio: 1;
        
        display: flex;
        align-items: center;
        gap: 5%;
    
        border:none;
        border-radius: 7px;    
        outline: 2px solid transparent;
        transition: outline 0.2s ease;
    
        user-select: none;
        cursor: pointer;

        &:last-child {
            margin-top: auto;
        }

        & > .icon {
            width: 60%;
            aspect-ratio: 1;
            object-fit: contain;
            user-select: none;
            pointer-events: none;
        }

        &.active {
            background-color: var(--primary-color);
        
            & > .icon {
                filter: invert(1);
            }
        }

        & > .tooltip {
            position: absolute;
            color: black;
            text-decoration: none;
            font-size: clamp(0.7em, 1vw, 2em);

            visibility: hidden;
            
            white-space: nowrap;
            
            padding: 0.5em 1em;
            border-radius: 5px 0 0 5px;
            
            left: 0;
            transform: translateX(var(--sidebar-width));
            
            background-color: var(--secondary-color);

            &::before,
            &::after {
                z-index: -1;
                content: "";
                position: absolute;
                height: 50%;
                background-color: var(--secondary-color);
                aspect-ratio: 1;
                right: 0;
                bottom: 0;  
                clip-path: polygon(0% 0%, 0% 100%, 100% 100%);
                border-bottom-right-radius: 5px;
                transform: translateX(90%);
            }

            &::after {
                top: 0;
                transform: translateX(90%) rotate(90deg);
            }
        }
    }
}

@media (hover: hover) {
    .buttons .navButton:hover{
        &:not(.active){
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25) inset; /* changed to match the hover effect on figma */
        }

        & > .tooltip {
            visibility: visible;
        }
    }
}

.footer {
    position: absolute;
    font-size: clamp(0.35em, 0.5vw, 1em);
    color: grey;
    bottom: 0;
    width: 100%;
    text-align: center;

    user-select: none;
}

@container (max-width: 10vw) {
    .buttons .navButton {
        justify-content: center;
        align-items: center;
        padding: 0;
    }
}

@media (max-width: 768px) {
    .sidebar {
        display: none;
    }
}